language: php

php:
  - '7.1'
  - nightly
  - hhvm

matrix:
  allow_failures:
    - php: hhvm

install:
  - composer install

script:
    - vendor/bin/phpunit --coverage-clover=coverage.xml

after_success:
    - bash <(curl -s https://codecov.io/bash)
